@import 'variables';

.contact {

  .contact-image {
    max-width: 100%;
  }

  .contact-info {
    margin-left: 40px;

    .contact-icon {
      margin-right: 8px;
      height: 1.6rem;
      width: 1.6rem;
      font-size: 1.6rem;
    }

  }

  .success-message {
    color: $success-text-color;
  }

  .error-message {
    color: $error-text-color;
  }
}
