@import 'variables';

.home {

  .background-image {
    min-height: 550px;
    color: $light-primary-text-color;
    background-color: $primary-color;
    background-image: url('../../assets/images/image-hero-blue.jpg');
    background-repeat: no-repeat;
    background-position: center center;

    .hero-text {
      text-align: center;
      font-size: 2.5rem;
    }

  }

  .values-container {
    margin-top: 40px;

    .values-box {
      margin: 0 20px;

      .values-icon {
        color: $secondary-color;
        height: 100px;
        width: 100px;
        font-size: 100px;
      }

      .values-text {
        text-align: center;
      }

    }

  }

}
