@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';

body {
  font-family: 'Nunito', sans-serif;
  color: $dark-primary-text-color;

  a, a:hover, a:visited {
    color: $terciary-color;
  }

  .md-button {
    border: 1px solid $light-primary-text-color;
    border-radius: 4px;
  }

  .md-button:not([disabled]):hover {
    background-color: rgba($light-primary-text-color, 0.3);
    font-weight: bold;
  }

  .md-button.md-primary {
    color: $light-primary-text-color;
    background-color: $primary-color;
  }

  .md-button:not([disabled]).md-primary:hover {
    color: $light-primary-text-color;
    background-color: $primary-color;
  }

  md-divider {
    margin-top: 20px;
  }

}
