.nav-bar {

  .contact-header {
    padding: 0 12px;
    background-color: #555555;
    height: 30px;
  }

  .menu-header {
    padding: 0 12px;
    background-color: #204770;
    color: #FFFFFF;
    // background-color: #F2F3FF;
    // height: 70px;

    .img-logo {
      height: 180px;
    }
  }

  .nav-link {
    cursor: pointer;
    outline: 0;
  }
}
