@import 'variables';

.nav-bar {

  .contact-header {
    padding: 0 12px;
    color: $light-primary-text-color;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: $terciary-color;
    height: 30px;
  }

  .menu-header {
    padding: 0 12px;
    background-color: $primary-color;
    color: $light-primary-text-color;

    .img-logo {
      height: 180px;
    }
  }

  .nav-link {
    cursor: pointer;
    outline: 0;
  }
}
