@import 'variables';

.operation {

  .steps-container {
    padding: 40px;

    .steps-icon {
      margin: 0 40px;
      color: $secondary-color;
      height: 6rem;
      width: 6rem;
      font-size: 6rem;
    }

  }

  .faq-container {
    margin-top: 40px;

    .faq-item {
      padding: 12px 0;
      text-align: justify;
      line-height: 1.5;

      .faq-title {
        font-size: 1.1rem;
        cursor: pointer;
        transform: rotateZ(0deg);

        .faq-0deg {
          transform: rotateZ(0deg);
          transition: transform 0.2s ease-in-out;
        }

        .faq-90deg {
          transform: rotateZ(90deg);
          transition: transform 0.2s ease-in-out;
        }
      }

      .faq-title:hover {
        background-color: $light-background-hightlight-color;
        transition: background-color 0.2s ease-in-out;
      }

      .faq-hidden {
        overflow: hidden;
        display: block;
        max-height: 0px;
        transition: max-height 0.3s ease-in-out;
      }

      .faq-visible {
        overflow: hidden;
        display: block;
        max-height: 400px;
        transition: max-height 0.3s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: $gt-xs) {
  .operation {
    .steps-container {
      padding: 0;
      .steps-icon {
        margin: 0;
        height: 4rem;
        width: 4rem;
        font-size: 4rem;
      }
      h2 {
        margin: 0 0 0 8px;
      }
    }

    .faq-container {
      .faq-item {
        text-align: left;
      }
    }
  }
}
