<flex-layout>
  <div ng-transclude-slot="flexContent">

    <h1>{{ $ctrl.about.title }}</h1>
    <p ng-repeat="paragraph in $ctrl.about.description">{{ paragraph }}</p>

    <div ng-repeat="strategy in $ctrl.strategy">
      <h3>{{ strategy.title }}</h3>
      <p>{{ strategy.description }}</p>
    </div>

    <h3>{{ $ctrl.areas.title }}</h3>
    <p>{{ $ctrl.areas.description }}</p>
    <ul>
      <li ng-repeat="area in $ctrl.areas.content">{{ area }}</li>
    </ul>

    <h3>{{ $ctrl.terms.title }}</h3>
    <p>{{ $ctrl.terms.description }}</p>

    <h3>{{ $ctrl.legislation.title }}</h3>
    <p>{{ $ctrl.legislation.description }}</p>
    <ul>
      <li ng-repeat="law in $ctrl.legislation.content">{{ law }}</li>
    </ul>

  </div>
</flex-layout>
