<div class="home">
  <div class="background-image" layout="column">
    <div layout="row" layout-align="center center" flex>
      <div class="hero-text" flex="60">{{ $ctrl.heroSection.description }}</div>
    </div>
    <div class="hero-action-container" layout="row" flex>
      <div ng-repeat="button in $ctrl.heroSection.buttons" layout="column" layout-align="start center" flex>
        <div>{{ button.title }}</div>
        <md-button>{{ button.caption }}</md-button>
      </div>
    </div>
  </div>
  <flex-layout>
    <div ng-transclude-slot="flexContent" class="values-container" layout="row">
      <div ng-repeat="value in $ctrl.values" layout="column" layout-align="start center" flex>
        <div><md-icon class="material-icons values-icon">{{ value.icon }}</md-icon></div>
        <div class="values-text">{{ value.title }}</div>
        <div class="values-text">{{ value.description }}</div>
      </div>
    </div>
  </flex-layout>
</div>
