<flex-layout class="operation">
  <div ng-transclude-slot="flexContent">

    <string-parser type="title" content="$ctrl.fourSteps.title"></string-parser>

    <div ng-repeat="step in $ctrl.fourSteps.content" class="steps-container" layout="row">
      <div>
        <md-icon class="material-icons steps-icon">{{ step.icon }}</md-icon>
      </div>
      <div>
        <string-parser type="subtitle" content="step.title"></string-parser>
        <string-parser type="paragraph" content="step.description"></string-parser>
      </div>
    </div>

    <string-parser type="title" content="$ctrl.faq.title"></string-parser>

    <div ng-repeat="info in $ctrl.faq.content" class="info-paragraph">
      <div class="faq-question">{{ info.title }}</div>
      <string-parser type="paragraph" content="info.description"></string-parser>
    </div>

  </div>
</flex-layout>
