<div class="nav-bar" layout="column">
  state: {{ $ctrl.state.current.name }}
  <div class="contact-header" layout="row" layout-align="end center">
    <div>{{ $ctrl.contactEmail }} / {{ $ctrl.contactPhone }}</div>
  </div>
  <div class="menu-header" layout="row" layout-align="space-between center">
    <div flex="30">
      <img class="img-logo" src="../../assets/images/logo.png" />
    </div>
    <div layout="row" layout-align="space-around center" flex>
      <md-button>Envie seu caso</md-button>
      <div ng-repeat="route in $ctrl.routes" class="nav-link" ng-class="{selected: $ctrl.state.current.name === route.path}" ng-click="$ctrl.goto(route.path)">
        {{ route.caption }}
      </div>
    </div>
  </div>
</div>
