<div class="nav-bar" layout="column">
  <div class="contact-header" layout="row" layout-align="end center">
    <div>{{ $ctrl.contactEmail }} / {{ $ctrl.contactPhone }}</div>
  </div>
  <div class="menu-header" layout="row" layout-align="space-between center">
    <div flex="30">
      RRP Conciliação
    </div>
    <div layout="row" layout-align="space-around center" flex>
      <md-button class="md-raised">Envie seu caso</md-button>
      <div class="nav-link" ng-click="$ctrl.goto('home')">
        Home
      </div>
      <div class="nav-link" ng-click="$ctrl.goto('about')">
        Quem somos
      </div>
      <div class="nav-link" ng-click="$ctrl.goto('operation')">
        Como Funciona?
      </div>
      <div class="nav-link" ng-click="$ctrl.goto('contact')">
        Contato
      </div>
    </div>
  </div>
</div>
