<div class="nav-bar" layout="column">
  <div class="contact-header" layout="row" layout-align="end center">
    <div>
      <md-icon class="material-icons contact-icon">{{ $ctrl.contactEmail.icon }}</md-icon>
      {{ $ctrl.contactEmail.content }}
    </div>
    <div>
      <md-icon class="material-icons contact-icon">{{ $ctrl.contactPhone.icon }}</md-icon>
      {{ $ctrl.contactPhone.content }}
    </div>
  </div>
  <div class="menu-header" layout="row" layout-align="space-between center">
    <div flex="30" layout="row" layout-align="start center">
      <img class="img-logo" src="../../assets/images/logo.png" />
    </div>
    <div layout="row" layout-align="space-around center" flex>
      <md-button ng-click="$ctrl.goto('notFound')">Envie seu caso</md-button>
      <div ng-repeat="route in $ctrl.routes" class="nav-link" ng-class="{selected: $ctrl.state.current.name === route.path}" ng-click="$ctrl.goto(route.path)">
        {{ route.caption }}
      </div>
    </div>
  </div>
</div>
